.sunrise-sunset__box {
  margin: 1rem 2.4rem 0rem;
  background-color: var(--color-background);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
}

.sunrise-sunset__title {
  margin-top: 1.5rem;
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: var(--text-size-small);
  font-weight: var(--text-regular);
}

.sunrise-sunset__graph {
  margin-top: 3rem 2rem 0rem;
  height: 10rem;
}

.sunrise-sunset__data {
  margin: 1.5rem 1.5rem 0rem;
  display: flex;
  flex-direction: column;
}

.sunrise-sunset__data-row {
  margin: 0rem;
  font-size: var(--text-size-xsmall);
  font-weight: var(--text-light);
  display: flex;
}

.sunrise-sunset__data-title {
  color: var(--color-data-value);
  margin-right: 0.5rem;
}

.sunrise-sunset__data-value {
  color: var(--color-main-text);
  font-weight: var(--text-bold);
}
